.imagem-carousel-um {
	object-fit: cover; /* ajusta a imagem de acordo com o container dela */
	object-position: 0 80%; /* move a imagem no eixo x e y */
	height: 400px;
}

.imagem-carousel-dois {
	object-fit: cover;
	height: 400px;
}

.font-titulo {
	font-family: 'Pacifico', cursive;
}

.cor-especial {
	color: darkred!important;
}

.botao-cor-especial {
	background-color: darkred;
	color: white;
}

.borda-cor-especial {
	border-color: darkred;
	width: 18rem;
}

.card-posicao-imagem {
	object-fit: cover; /* ajusta a imagem de acordo com o container dela */
	height: 200px;
}

.card-largura {
	max-width: 18rem;
}